footer {
    width: 100vw;
    box-sizing: border-box;
    overflow: hidden;
    background-color: rgb(39, 39, 39);
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
}

footer div {
    width: 100%;
}

footer .top {
    padding: 0.7em;
    border-bottom: 0.3em solid rgb(255, 230, 202);
}

footer .bottom {
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer ul {
    list-style: none;
}

footer .bottom div {
    width: 25%;
}

footer .bottom h3 {
    color: rgb(255, 200, 138);
    margin-bottom: 0.7em;
}

footer .bottom div:nth-child(2) {
    text-align: center;
}

footer .bottom div:last-child {
    text-align: end;
}

footer .bottom a {
    text-decoration: none;
    color: inherit;
}

footer .copyright {
    padding: 0.7em 0;
    color: rgb(255, 230, 202);
}
