header {
    height: 100vh;
    background: url(../image/header-background1.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 5em 1em rgba(39, 39, 39, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgba(39, 39, 39, 1);
}

.back-photo-profile {
    padding: 0.7em;
    background-color: #fff;
    border-radius: 0.2em;
    margin-bottom: 3em;
    box-shadow: 0px 0px 10px 0.3em rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}

.back-photo-profile:hover {
    padding: 0;
    transform: rotate(10deg);
}

.photo-profile {
    width: 10em;
    height: 10em;
    background-image: url(../image/profile1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 0.3em solid #fff;
    box-shadow: 0px 0px 5px 0.3em rgba(0, 0, 0, 0.5);
    border-radius: 0.2em;
    transition: 0.5s;
}

.photo-profile:hover {
    width: 12em;
    height: 12em;
    transform: rotate(-15deg);
}

header h2, header h5 {
    padding: 0.2em;
    background-color: #fff;
    margin-bottom: 0.5em;
    border-radius: 0.2em;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
}