* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    overflow-x: hidden;
}

div.container {
    margin: 0;
    padding: 3em 1em;
}

p.paragraph {
    text-indent: 3em;
}
